@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* global css */
body{
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: Arial, sans-serif;

}
#root, html, body{
  /* background-color: #f5f5f5; */
  box-sizing: border-box;
}

div, header, h1, h2,h3,h4,h5,h6, ul,li, html,i,img,label,p, small, span{
  margin: 0 ;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

p {
  font-size: 24px;
  line-height: .8;
}
label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}
